<form action="/cart" method="post">
  <input type="hidden" name="productId" value="{{this.id}}{{product.id}}">
  <input type="hidden" name="productPrice" value="{{this.price}}">
  <button class='btn'>Add to Cart</button>
</form>